# JR3 streaming server config file
#----------------------------------------------------------
# Comments start with # (has to be first char in line)

# Valid local IPs
#	--> chooses the local NIC and thus network to use for streaming
#-------------------------------------------
# 192.168.0.7		Needle insertion network
# 142.244.62.48	    ece.ualberta.ca network

# Valid remote IPs:
#	--> chooses the IP address of the PC to stream to or multiple PCs (broadcast address)
#-------------------------------------------
# 192.168.0.1		Needle insertion setup host 1
# 192.168.0.2		Needle insertion setup target 1
# 192.168.0.5		Needle insertion setup target 2
# 192.168.0.6		Needle insertion setup host 2
# 192.168.0.9		Motion tracker host
# 192.168.0.255	    Needle insertion setup broadcast address (sent to everyone in the network)

ip_local    = 142.244.62.54
port_local  = 7778
ip_remote   = 142.244.62.44
port_remote = 7779
num_markers = 2
name_markers = LeftFoot, RightFoot